# Barriers 

In this notebook the barrier dataset is explored.


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/dfo-mpo/graphish/blob/nhn_dev/NHN/Barrier_preprocessing-colab.ipynb)

In [1]:
# Run this cell only if using google colab or if the next cell throws error
# Install packages
!pip install geopandas
!pip install fiona

Requirement already satisfied: geopandas in /home/javad/anaconda3/lib/python3.8/site-packages (0.8.2)
Requirement already satisfied: pandas>=0.23.0 in /home/javad/.local/lib/python3.8/site-packages (from geopandas) (1.0.5)
Requirement already satisfied: fiona in /home/javad/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.18)
Requirement already satisfied: pyproj>=2.2.0 in /home/javad/anaconda3/lib/python3.8/site-packages (from geopandas) (3.0.0.post1)
Requirement already satisfied: shapely in /home/javad/anaconda3/lib/python3.8/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/javad/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/javad/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /home/javad/.local/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (1.19.0)
Requirement already satisfied: munch in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: certifi in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (2020.12.5)
Requirement already satisfied: attrs>=17 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: cligj>=0.5 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (0.7.1)
Requirement already satisfied: click<8,>=4.0 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: fiona in /home/javad/anaconda3/lib/python3.8/site-packages (1.8.18)
Requirement already satisfied: click<8,>=4.0 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (7.1.2)
Requirement already satisfied: munch in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (2.5.0)
Requirement already satisfied: attrs>=17 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (20.2.0)
Requirement already satisfied: certifi in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (2020.12.5)
Requirement already satisfied: click-plugins>=1.0 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (1.1.1)
Requirement already satisfied: six>=1.7 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /home/javad/anaconda3/lib/python3.8/site-packages (from fiona) (0.7.1)

In [3]:
import pandas as pd
import geopandas as gpd
import fiona

Go to your Google Drive acount and right click on the shared folder and select the "Add shortcut to drive". Create the shortcut in the root (main) google drive folder.
![Picture](https://github.com/khataei/NHN/raw/master/Screenshot%20from%202021-03-15%2022-52-16.png)

In [22]:
# connect to googledrive
# follow the link and authorize
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [21]:
# should be able to see the files 
!ls  drive/MyDrive/DFO_Contract/Raw-files/

'ACA Data Collection Sheet_ALL.csv'
'ACA Data Collection Sheet_Analyzed.xlsx'
'Data discussions Winter 2021_Data Manager contract.csv'
'Data discussions Winter 2021_Data Manager contract.xlsx'
 ESA_Contacts.csv
 Humber_Barriers_03Mar2021.gpkg
'Integrated Planning External Contacts sheet.gsheet'
 Labrador_2020_eDNAcsv.csv
'Labrador_2020_sites (1).gsheet'
 Labrador_2020_sites.csv
 Labrador_2020_sites.gsheet
 NHN_fields_Dictionary.csv
 NHN_Sample.csv
 NHN_Sample.gsheet
 Processed.ACA.csv
 Processed.ACA.V2.csv
 Processed.ACA.V2.gsheet
 Processed_for_data_model
 Salmonids_eDNAElectrofishingRivers2020_v2.csv

In [25]:
#read the file
file_path = "drive/MyDrive/DFO_Contract/Raw-files/Humber_Barriers_03Mar2021.gpkg"
br_df = gpd.read_file(file_path)

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

In [24]:
br_df

   GRAND_ID    RES_NAME  ... NL_Dam_Review_grand_Dam ID                    geometry
0      2350  Grand Lake  ...                       2350  POINT (-57.25639 49.19823)

[1 rows x 61 columns]

`Geopandas` only reads one layer! To fix this issue, find all the layers and read them separately.

In [26]:
# check the layers
for layername in fiona.listlayers(file_path):
    with fiona.open(file_path, layer=layername) as src:
        print(layername, len(src))

PR_Humber_Dams_grand 1
PR_Humber_Dams_nhn 31
PR_Humber_Dams_nlprov 34
PR_Humber_Dams_npdp 1
PR_Humber_Falls_NHN 31
layer_styles 5

In [27]:
for layername in fiona.listlayers(file_path):
    geopkg = gpd.read_file(file_path, layer=layername)
    df_name = layername.lower() + "_df"
    vars()[df_name] = geopkg
    print("The", df_name, " is creade")

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

The pr_humber_dams_grand_df  is creade
The pr_humber_dams_nhn_df  is creade
The pr_humber_dams_nlprov_df  is creade
The pr_humber_dams_npdp_df  is creade
The pr_humber_falls_nhn_df  is creade
The layer_styles_df  is creade

### Check the size of each dataframe
the first number is the number or rows, the second is the number of columns

In [28]:
pr_humber_dams_grand_df.shape, pr_humber_dams_nhn_df.shape,\
pr_humber_dams_nlprov_df.shape, pr_humber_dams_npdp_df.shape, pr_humber_falls_nhn_df.shape

((1, 61), (31, 25), (34, 22), (1, 38), (31, 21))

pr_humber_dams_grand_df has 1 row and 61 columns. etc, etc.

## pr_humber_dams_grand_df columns:

In [29]:
pr_humber_dams_grand_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 61 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GRAND_ID                    1 non-null      int64
 1   RES_NAME                    1 non-null      object
 2   DAM_NAME                    1 non-null      object
 3   ALT_NAME                    1 non-null      object
 4   RIVER                       1 non-null      object
 5   ALT_RIVER                   0 non-null      object
 6   MAIN_BASIN                  0 non-null      object
 7   SUB_BASIN                   0 non-null      object
 8   NEAR_CITY                   1 non-null      object
 9   ALT_CITY                    0 non-null      object
 10  ADMIN_UNIT                  1 non-null      object
 11  SEC_ADMIN                   0 non-null      object
 12  COUNTRY                     1 non-null      object
 13  SEC_CNTRY                   0 non-null      object
 14  YEAR                        1 non-null      int64
 15  ALT_YEAR                    1 non-null      int64
 16  REM_YEAR                    1 non-null      int64
 17  DAM_HGT_M                   1 non-null      int64
 18  ALT_HGT_M                   1 non-null      int64
 19  DAM_LEN_M                   1 non-null      int64
 20  ALT_LEN_M                   1 non-null      int64
 21  AREA_SKM                    1 non-null      float64
 22  AREA_POLY                   1 non-null      float64
 23  AREA_REP                    1 non-null      float64
 24  AREA_MAX                    1 non-null      float64
 25  AREA_MIN                    1 non-null      float64
 26  CAP_MCM                     1 non-null      float64
 27  CAP_MAX                     1 non-null      float64
 28  CAP_REP                     1 non-null      float64
 29  CAP_MIN                     1 non-null      float64
 30  DEPTH_M                     1 non-null      float64
 31  DIS_AVG_LS                  1 non-null      int64
 32  DOR_PC                      1 non-null      float64
 33  ELEV_MASL                   1 non-null      int64
 34  CATCH_SKM                   1 non-null      int64
 35  CATCH_REP                   1 non-null      int64
 36  DATA_INFO                   0 non-null      object
 37  USE_IRRI                    0 non-null      object
 38  USE_ELEC                    1 non-null      object
 39  USE_SUPP                    0 non-null      object
 40  USE_FCON                    0 non-null      object
 41  USE_RECR                    0 non-null      object
 42  USE_NAVI                    0 non-null      object
 43  USE_FISH                    0 non-null      object
 44  USE_PCON                    0 non-null      object
 45  USE_LIVE                    0 non-null      object
 46  USE_OTHR                    0 non-null      object
 47  MAIN_USE                    1 non-null      object
 48  LAKE_CTRL                   1 non-null      object
 49  MULTI_DAMS                  0 non-null      object
 50  TIMELINE                    0 non-null      object
 51  COMMENTS                    0 non-null      object
 52  URL                         0 non-null      object
 53  QUALITY                     1 non-null      object
 54  EDITOR                      1 non-null      object
 55  LONG_DD                     1 non-null      float64
 56  LAT_DD                      1 non-null      float64
 57  POLY_SRC                    1 non-null      object
 58  ID_GRanD                    1 non-null      int64
 59  NL_Dam_Review_grand_Dam ID  1 non-null      object
 60  geometry                    1 non-null      geometry
dtypes: float64(13), geometry(1), int64(13), object(34)
memory usage: 616.0+ bytes

In [31]:
pr_humber_dams_grand_df.head()

   GRAND_ID    RES_NAME  ... NL_Dam_Review_grand_Dam ID                    geometry
0      2350  Grand Lake  ...                       2350  POINT (-57.25639 49.19823)

[1 rows x 61 columns]

# Note:
If you want to check the value of any of this column, use the next cell and change the name of the column to your desired columns.
Example:
`pr_humber_dams_grand_df.GRAND_ID` will return only the GRAND_ID column.

In [45]:
# Another example for quality
pr_humber_dams_grand_df.QUALITY

0    3: Fair
Name: QUALITY, dtype: object

To see only the unique values of a column: `pr_humber_dams_grand_df.GRAND_ID.unique()`

In [47]:
# in this dataset we only have one row, so using unique is not necessary. Only for demonstration:

pr_humber_dams_grand_df.DOR_PC.unique()

array([43.9])

## pr_humber_dams_nhn_df columns:

In [32]:
pr_humber_dams_nhn_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OBJECTID                  31 non-null     float64
 1   nid                       31 non-null     object
 2   validityDa                31 non-null     object
 3   acquisitio                31 non-null     int64
 4   datasetNam                31 non-null     object
 5   planimetri                31 non-null     int64
 6   provider                  31 non-null     int64
 7   completely                31 non-null     int64
 8   manmadeTyp                31 non-null     int64
 9   manmadeT_1                31 non-null     object
 10  manmadeSta                31 non-null     int64
 11  geographic                0 non-null      object
 12  nameId1                   0 non-null      object
 13  nameId2                   0 non-null      object
 14  name1                     0 non-null      object
 15  name2                     0 non-null      object
 16  idDate                    0 non-null      object
 17  nameDate                  0 non-null      object
 18  SHAPE_Leng                20 non-null     float64
 19  SHAPE_Area                0 non-null      object
 20  layer                     31 non-null     object
 21  path                      31 non-null     object
 22  ID_NHN                    31 non-null     int64
 23  NL_Dam_Review_nhn_Dam ID  31 non-null     object
 24  geometry                  31 non-null     geometry
dtypes: float64(2), geometry(1), int64(7), object(15)
memory usage: 6.2+ KB

In [33]:
pr_humber_dams_nhn_df.head(5)

   OBJECTID  ...                    geometry
0    4249.0  ...  POINT (-57.03635 49.63076)
1    4248.0  ...  POINT (-58.08564 49.06965)
2    4251.0  ...  POINT (-57.81380 48.93041)
3    4254.0  ...  POINT (-57.07446 49.66377)
4    4253.0  ...  POINT (-57.82785 48.95306)

[5 rows x 25 columns]

## pr_humber_dams_nlprov_df columns:

In [34]:
pr_humber_dams_nlprov_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OBJECTID                         34 non-null     int64
 1   LAT_DEC                          34 non-null     float64
 2   LONG_DEC                         34 non-null     float64
 3   DAMINDEXNUM                      34 non-null     int64
 4   PROJECT_NAME                     33 non-null     object
 5   DAM_NAME                         34 non-null     object
 6   OWNER_NAME                       34 non-null     object
 7   YEARBUILT                        19 non-null     object
 8   DAMSTATUS                        33 non-null     object
 9   PURPOSE_DRINKING                 21 non-null     object
 10  PURPOSE_INDUSTRIAL               3 non-null      object
 11  PURPOSE_HYDRO                    4 non-null      object
 12  PURPOSE_FLOOD                    1 non-null      object
 13  PURPOSE_ICE                      0 non-null      object
 14  PURPOSE_FORESTRY                 0 non-null      object
 15  PURPOSE_UNKNOWN                  0 non-null      object
 16  PURPOSE_OTHER                    7 non-null      object
 17  DAM_TYPE                         31 non-null     object
 18  DAM_TYPE_OTHER                   8 non-null      object
 19  DIM_MAXHEIGHT                    25 non-null     float64
 20  NL_Dam_Review_nlprovince_Dam ID  34 non-null     int64
 21  geometry                         34 non-null     geometry
dtypes: float64(3), geometry(1), int64(3), object(15)
memory usage: 6.0+ KB

In [35]:
pr_humber_dams_nlprov_df.head(5)

   OBJECTID  ...                    geometry
0       944  ...  POINT (-57.56171 49.00876)
1       945  ...  POINT (-57.87177 48.99825)
2       946  ...  POINT (-58.03585 49.01207)
3       957  ...  POINT (-57.93679 48.99330)
4       961  ...  POINT (-57.96750 48.99639)

[5 rows x 22 columns]

## pr_humber_dams_npdp_df columns:

In [36]:
pr_humber_dams_npdp_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NPDP_ID                        1 non-null      int64
 1   CDA_ID                         1 non-null      int64
 2   Dam Name                       1 non-null      object
 3   Alternative Dam Name           0 non-null      object
 4   Dam Type                       1 non-null      object
 5   Dam Height (m)                 1 non-null      int64
 6   Dam Lengh (m)                  1 non-null      int64
 7   Hazard Class                   1 non-null      object
 8   Latitude                       1 non-null      float64
 9   Longitude                      1 non-null      float64
 10  Emergency Action Plan          0 non-null      object
 11  Main Purpose                   1 non-null      object
 12  Other purposes                 0 non-null      object
 13  Country                        1 non-null      object
 14  State/ Province                1 non-null      object
 15  River                          1 non-null      object
 16  Nearest Downstream city        0 non-null      object
 17  Distance to City (km)          0 non-null      object
 18  Population at Risk             0 non-null      object
 19  Year Completed                 1 non-null      int64
 20  Year Modified                  0 non-null      object
 21  Normal Reservoir Storage (m3)  1 non-null      object
 22  Max Reservoir Storage (m3)     0 non-null      object
 23  Crest Elevation (m)            0 non-null      object
 24  Dam Base Width (m)             0 non-null      object
 25  Foundation type                0 non-null      object
 26  Core Type                      0 non-null      object
 27  Volume (m3)                    1 non-null      object
 28  Material                       0 non-null      object
 29  Dam Designer                   0 non-null      object
 30  Federal Regulatory Agency      0 non-null      object
 31  Inspection Frequancy/ year     0 non-null      object
 32  State Regulated                0 non-null      object
 33  Mean Annual Energy             0 non-null      object
 34  Electric Capacity              0 non-null      object
 35  Source                         0 non-null      object
 36  NL_Dam_Review_npdp_Dam ID      1 non-null      object
 37  geometry                       1 non-null      geometry
dtypes: float64(2), geometry(1), int64(5), object(30)
memory usage: 432.0+ bytes

In [37]:
pr_humber_dams_npdp_df.head(5)

   NPDP_ID  CDA_ID  ... NL_Dam_Review_npdp_Dam ID                    geometry
0      787      97  ...                       787  POINT (-57.43661 49.17021)

[1 rows x 38 columns]

## pr_humber_falls_nhn_df columns:

In [38]:
pr_humber_falls_nhn_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OBJECTID              31 non-null     int64
 1   nid                   31 non-null     object
 2   validityDate          31 non-null     object
 3   acquisitionTechnique  31 non-null     int64
 4   datasetName           31 non-null     object
 5   planimetricAccuracy   31 non-null     int64
 6   provider              31 non-null     int64
 7   completelyCover       31 non-null     int64
 8   obstacleType          31 non-null     int64
 9   obstacleTypeText      31 non-null     object
 10  geographicalNameDB    31 non-null     object
 11  nameId1               31 non-null     object
 12  nameId2               31 non-null     object
 13  name1                 31 non-null     object
 14  name2                 31 non-null     object
 15  idDate                31 non-null     object
 16  nameDate              31 non-null     object
 17  SHAPE_Length          6 non-null      float64
 18  layer                 31 non-null     object
 19  path                  31 non-null     object
 20  geometry              31 non-null     geometry
dtypes: float64(1), geometry(1), int64(6), object(13)
memory usage: 5.2+ KB

In [ ]:
pr_humber_falls_nhn_df.head(5)

,OBJECTID,nid,validityDate,acquisitionTechnique,datasetName,planimetricAccuracy,provider,completelyCover,obstacleType,obstacleTypeText,...,nameId1,nameId2,name1,name2,idDate,nameDate,SHAPE_Length,layer,path,geometry
0,149970,ea26c81b52ef4cddab421eca36c110ac,1986,5,02YL000,17,2,1,1,Falls,...,,,,,,,NaN,NHN_OB_0_falls,\\cwf-stge-svr4\share\Conservation Program\Fre...,POINT (-58.09071 48.94046)
1,149988,0d741e4c810a4402b0a4fb7d54f657a1,1986,5,02YL000,10,2,1,1,Falls,...,,,,,,,NaN,NHN_OB_0_falls,\\cwf-stge-svr4\share\Conservation Program\Fre...,POINT (-57.31074 49.52131)
2,150008,deb254892cfa44ed8bfbaa0fc097c987,1986,5,02YL000,10,2,1,1,Falls,...,,,,,,,NaN,NHN_OB_0_falls,\\cwf-stge-svr4\share\Conservation Program\Fre...,POINT (-57.17948 49.51085)
3,150031,2a4d97f612754fb3a253cab1340785ce,1986,5,02YL000,17,2,1,1,Falls,...,,,,,,,NaN,NHN_OB_0_falls,\\cwf-stge-svr4\share\Conservation Program\Fre...,POINT (-58.24835 49.01570)
4,150033,0f665eef639d4c6aa35ceeffe824cb84,1986,5,02YL000,10,2,1,1,Falls,...,,,,,,,NaN,NHN_OB_0_falls,\\cwf-stge-svr4\share\Conservation Program\Fre...,POINT (-57.90643 49.25651)

- All barriers have latitude and longitude data as a point
- All but falls and dams_nhn have dam name
- The layer names can be used as the type for different types of barrier

# Prepare to export:
select only the important columns (location, type, ?) concatenate all and save as gpkg file

### Create barrier type based on the layer:

In [39]:
pr_humber_dams_grand_df['barrier_type'] = "grand"
pr_humber_dams_nhn_df['barrier_type'] = "nhn"
pr_humber_dams_nlprov_df['barrier_type'] = "nlprov"
pr_humber_dams_npdp_df['barrier_type'] = "npdp"
pr_humber_falls_nhn_df['barrier_type'] = "falls"

In [40]:
br_df = pd.concat([pr_humber_dams_grand_df[['barrier_type', 'geometry']], \
           pr_humber_dams_nhn_df[['barrier_type', 'geometry']], \
           pr_humber_dams_nlprov_df[['barrier_type', 'geometry']], \
           pr_humber_dams_npdp_df[['barrier_type', 'geometry']], \
           pr_humber_falls_nhn_df[['barrier_type', 'geometry']]], axis=0)

In [42]:
# Optional
# Save to your Google drive

br_df.to_file('drive/MyDrive/Humber_Barriers.gpkg')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  This is separate from the ipykernel package so we can avoid doing imports until